<p>Schulen für Ghana e.V.</p>
<ol>
  <li><%= link_to 'Hauptprojekt -> Aktuelle Nachrichten', '#'%></li>
  <li><%= link_to 'JETZT spenden, ', '#'%></li>
  <li><%= link_to 'Über Ghana', '#'%></li>
  <li><%= link_to 'Über mich & Kontakt', '#'%></li>
</ol>