<hr>
<p>A lot of Information can be found on Wikipedia</p>
<p>Wikipedia Link to Ghana Page: <%= link_to "DE", "https://de.wikipedia.org/wiki/Ghana" %> / <%= link_to "EN", "https://en.wikipedia.org/wiki/Ghana" %></p>
<hr>
<p>My personal description:</p>
<p>To be done</p>
<hr>
<p>My personal impression:</p>
<p>To be done</p>