<h1 class="headings"><u>Donate Now:</u></h1>
<p class="para">
  A donation is a gift for charity, humanitarian aid, or to benefit a cause. A donation may take various forms, including money, alms, services, or goods such as clothing, toys, food, or vehicles.
  <br>A donation may satisfy medical needs such as blood or organs for transplant. Charitable donations of goods or services are also called gifts in kind.
  <br>I am personally super happy about your willingness to donate! Help me educate ghana!<br>Use the specific donation code found on the project site (overview of all projects) to dedicate your donation to a specific purpose!
</p>
<p class="para">
  I am personally super happy about your willingness to donate! Help me educate ghana!
</p>
<p class="para">
  Use the specific <u>donation code</u> found on the <%= link_to "projects' site", projects_path %> to dedicate your donation to a specific purpose!
</p>
<p class="para">
  Given below are the account details for your donation - I am very thankful about!
</p>

<div class="donation">
  <table>
    <tr>
      <th>Bank Name</th>
      <td>------------To be done-------------</td>
    </tr>
    <tr>
      <th>Account Owner</th>
      <td>------------To be done-------------</td>
    </tr>
    <tr>
      <th>IBAN</th>
      <td>------------To be done-------------</td>
    </tr>
    <tr>
      <th>BIC</th>
      <td>------------To be done-------------</td>
    </tr>
  </table>
</div>