<p>I am super happy about your willingness to donate!</p>
<p>Use the specific <u>donation code</u> found on the <%= link_to "project site (overview of all projects)", projects_path%> to dedicate your donation to a specific purpose!</p>
<br>
<p><b>Bank Account:</b></p>
<p>Owner: ? </p>
<p>IBAN: ? </p>
<p>BIC: ? </p>