<h1 class="headings">News</h1>

<section style="display: flex;justify-content: center; margin-top: 50px;">
  <div class="box-area">

    <div class="single-box">
      <div class="img-area"></div>
      <div class="img-text">
        <span class="header-text"><strong>9.3.2021</strong></span>
        <p>This website is finally launched!</p>
      </div>
    </div>
<%#
    <div class="single-box">
      <div class="img-area"></div>
      <div class="img-text">
        <span class="header-text"><strong>NEWS-2</strong></span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>

    <div class="single-box">
      <div class="img-area"></div>
      <div class="img-text">
        <span class="header-text"><strong>NEWS-3</strong></span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>

    <div class="single-box">
      <div class="img-area"></div>
      <div class="img-text">
        <span class="header-text"><strong>NEWS-4</strong></span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>

    <div class="single-box">
      <div class="img-area"></div>
      <div class="img-text">
        <span class="header-text"><strong>NEWS-5</strong></span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>

    <div class="single-box">
      <div class="img-area"></div>
      <div class="img-text">
        <span class="header-text"><strong>NEWS-6</strong></span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>
%>
  </div>
</section>
